@section Scripts
    {
    <script src="@Url.Content("~/js/iHedge/tournament.js")"></script>
}
@{ ViewData["Title"] = "Tournament"; }

<div id="tournament" data-tournament-id="@ViewData["TournamentId"]" class="bodyTopSection">
    <div style="float: left;">
        <img alt="" src="/images/Trophy-Gold-icon128.png" />
    </div>
    <div style="float: left; margin-left: 12px; height: 136px;">
        <div id="tournamentTitle" style="font-size: 24pt; line-height: 36px; margin-top: 6px; text-shadow: 2px 2px #1c1c1c;"></div>
        <div style="float: left;">
            <div class="normalCaption" style="line-height: 14px; margin-top: 10px;">Start date</div>
            <div id="tournamentStartDate" style="font-size: 12pt; line-height: 14px;"></div>
            <div class="normalCaption" style="line-height: 14px; margin-top: 8px;">End date</div>
            <div id="tournamentEndDate" style="font-size: 12pt; line-height: 14px;"></div>
        </div>
        <div style="float: left; height: 84px; line-height: 84px; margin-left: 18px;">
            <div style="font-size: 38pt; font-weight: bold;"></div>
        </div>
        <div style="clear: both;"></div>
    </div>
    <div style="clear: both;"></div>
</div>
<div style="clear: both;"></div>
<div style="" class="tableHeader">
    <div style="float: left; margin-left: 44px; width: 170px;">FullName</div>
    <div style="float: left; margin-left: 20px; width: 40px; text-align: right;">Rank</div>
    <div style="float: left; margin-left: 20px; width: 124px; text-align: right;">Total value</div>
    <div style="float: left; margin-left: 20px; width: 124px; text-align: right;">Cash</div>
    <div style="float: left; margin-left: 20px; width: 124px; text-align: right;">Market value</div>
    <div style="float: left; margin-left: 20px; width: 124px; text-align: right;">Behind leader</div>
</div>
<div style="clear: both;"></div>
<div id="participants">
    <!--<%foreach (var participant in Model.Participants)
    {%>
    <%String imgSrc = "Office-Customer-Male-Light-icon32.png";
    if(participant.gender == "Female")
    imgSrc = "Office-Customer-Female-Light-icon32.png";
    %>-->
  
    <!--<%} %>
    <%if (Model.Participants == null || Model.Participants.Count == 0)
    { %>-->
    <div title="Clicking here will enable you to invite your friends, family and colleagues" class="securityEmptyList emptyList" style="height: 80px; line-height: 80px;">
        <div style="float: left; margin-top: 10px; margin-left: 240px;"><img alt="" style="width: 60px;" src="/images/Office-Customer-Female-Light-icon72.png" /></div>
        <div style="float: left; margin-left: 24px;">Add more users by inviting them <span style="text-decoration: underline; font-weight: bold;">here!</span></div>
    </div>
    <div style="clear: both;"></div>
    <!--<%} %>-->
</div>

<!-- Templates -->
<div id="participantTemplate" class="participant">
    <div style="float: left; margin-left: 4px; margin-top: 4px;">
        <img title="participantFullName" alt="" src="/images/imgSrc" style="width: 32px; height: 32px;" />
    </div>
    <div style="float: left; margin-left: 8px; width: 170px;">participantFullName</div>
    <div style="float: left; margin-left: 20px; width: 40px; text-align: right;">participantRank</div>
    <div style="float: left; margin-left: 20px; width: 124px; text-align: right;">participantTotalValue</div>
    <div style="float: left; margin-left: 20px; width: 124px; text-align: right;">participantCash</div>
    <div style="float: left; margin-left: 20px; width: 124px; text-align: right;">participantMarketValue</div>
    <div style="float: left; margin-left: 20px; width: 124px; text-align: right;">participantTotalValue - LeadingTotalValue</div>
    <div style="clear: both;"></div>
</div>  