@section Scripts
    {
    <script src="@Url.Content("~/js/iHedge/tournament.js")"></script>
}
@{ ViewData["Title"] = "Tournament"; }

<div id="tournament" data-tournament-id="@ViewData["TournamentId"]" class="bodyTopSection" style="position:relative;">
    <img style="position: absolute; left: 20px;top:4px;"alt="Trophy" src="/images/Trophy-Gold-icon128.png" />    
    <div id="tournamentTitle" style="position: absolute; font-size: 24pt; top: 4px; left: 130px; text-shadow: 2px 2px #1c1c1c;"></div>
    <div class="normalCaption" style="position: absolute; left: 130px; top: 50px;">Start date</div>
    <div id="tournamentStartDate" style="position: absolute; left: 130px; top: 63px; font-size: 12pt;"></div>
    <div class="normalCaption" style="position: absolute; left: 130px; top: 86px;">End date</div>
    <div id="tournamentEndDate" style="position: absolute; left: 130px; top:99px; font-size: 12pt;"></div>
</div>
<div style="" class="tableHeader">
    <div style="float: left; margin-left: 44px; width: 170px;">FullName</div>
    <div style="float: left; margin-left: 20px; width: 40px; text-align: right;">Rank</div>
    <div style="float: left; margin-left: 20px; width: 124px; text-align: right;">Total value</div>
    <div style="float: left; margin-left: 20px; width: 124px; text-align: right;">Cash</div>
    <div style="float: left; margin-left: 20px; width: 124px; text-align: right;">Market value</div>
    <div style="float: left; margin-left: 20px; width: 124px; text-align: right;">Behind leader</div>
</div>
<div style="clear: both;"></div>
<div id="participants">
    <!-- imgSrc = "Office-Customer-Male-Light-icon32.png";
    if(participant.gender == "Female") imgSrc = "Office-Customer-Female-Light-icon32.png"; -->
</div>
<div title="Invite friends, family and colleagues" class="addParticipants emptyList" style="height: 80px; line-height: 80px; position: relative">
    <img alt="" style="position:absolute; width: 60px; left: 280px;top:8px;" src="/images/Office-Customer-Female-Light-icon72.png" />
    <div style="position:absolute;left: 360px;">Invite your friends to this tournament <span style="text-decoration: underline; font-weight: bold;">here!</span></div>
</div>

<!-- Templates -->
<div id="participantTemplate" class="participant">
    <div style="float: left; margin-left: 4px; margin-top: 4px;">
        <img title="participantFullName" alt="" src="/images/imgSrc" style="width: 32px; height: 32px;" />
    </div>
    <div class="participantFullName" style="float: left; margin-left: 8px; width: 170px;"></div>
    <div class="participantRank" style="float: left; margin-left: 20px; width: 40px; text-align: right;"></div>
    <div class="participantTotalValue" style="float: left; margin-left: 20px; width: 124px; text-align: right;"></div>
    <div class="participantCash" style="float: left; margin-left: 20px; width: 124px; text-align: right;"></div>
    <div class="participantMarketValue" style="float: left; margin-left: 20px; width: 124px; text-align: right;"></div>
    <div class="participantBehindLeader" style="float: left; margin-left: 20px; width: 124px; text-align: right;"></div>
    <div style="clear: both;"></div>
</div>  