<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebAppCore</title>

    <!--
    <link href="/Content/css/jquery/dark-hive/jquery-ui-1.10.0.custom.min.css" rel="stylesheet"
          type="text/css" />
    <link rel="stylesheet" type="text/css" href="/Content/datatables/css/jquery.dataTables.css" />
    <link href="/Content/css/site.css" rel="stylesheet" type="text/css" />
    
    <script src="/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="/Scripts/jquery-ui-1.10.0.custom/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="/Scripts/iHedge/home.js" type="text/javascript"></script>
    <script src="/Scripts/iHedge/loginHandler.js" type="text/javascript"></script>
    <script src="/Content/datatables/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="/Scripts/watermark/jquery.watermark.min.js" type="text/javascript"></script>
    -->

    @RenderSection("scripts", required: false)

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />        
        <link rel="stylesheet" type="text/css" href="~/lib/datatables/css/jquery.dataTables.css" />
        <link rel="stylesheet" href="~/css/jquery/dark-hive/jquery-ui-1.10.0.custom.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />

        <script src="~/lib/jquery/jquery-1.10.2.min.js" type="text/javascript"></script>
        <script src="~/lib/jquery/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
        <script src="~/js/iHedge/home.js" type="text/javascript"></script>
        <script src="~/js/iHedge/loginHandler.js" type="text/javascript"></script>
        <script src="~/lib/datatables/js/jquery.dataTables.min.js" type="text/javascript"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <!-- FB Login -->
    <div id="fb-root"></div>
    <script>

    </script>
    
    <!-- End FB Login -->


    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">WebAppCore</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    <li><div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="false"></div></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()

        <div id="footer">
            <!-- FB Button -->
            <!--<div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="false"></div> -->
            <!-- End FB Button -->
            <div id="miHome" class="toolbarButton" style="margin-left: 8px; margin-right: 100px;">
                <div style="float: left;"><img title="Home" style="width: 60px; height: 60px;" alt="" src="/images/home-icon72.png" /></div>
                <div style="float: left; margin-left: -48px; margin-top: 58px;" class="normalCaption">Home</div>
                <div style="clear: both;"></div>
            </div>
            <div id="miBrowseInstruments" class="toolbarButton authorized">
                <div style="float: left;"><img title="Stock market" style="width: 60px; height: 60px;" alt="" src="/images/stock-market-icon72.png" /></div>
                <div style="float: left; margin-left: -50px; margin-top: 58px;" class="normalCaption">Stocks</div>
                <div style="clear: both;"></div>
            </div>
            <div id="miShowToDo" class="toolbarButton authorized" style="margin-right: 40px; margin-left: 34px;">
                <div style="float: left;"><img style="width: 60px; height: 60px;" title="To Do List" alt="" src="/images/clipboard-icon72.png" /></div>
                <div style="float: left; margin-left: -48px; margin-top: 58px;" class="normalCaption">To Do</div>
                <div style="clear: both;"></div>
            </div>
            <div id="miShowPortfolios" class="toolbarButton authorized">
                <div style="float: left;"><img title="Portfolios" style="width: 60px; height: 60px;" alt="" src="/images/Pie-Chart-icon72.png" /></div>
                <div style="float: left; margin-left: -64px; margin-top: 58px;" class="normalCaption">Portfolios</div>
                <div style="clear: both;"></div>
            </div>
            <div id="miShowTournaments" class="toolbarButton authorized" style="margin-left: 50px;">
                <div style="float: left;"><img title="Tournaments" style="width: 60px; height: 60px;" alt="" src="/images/Trophy-Gold-icon72.png" /></div>
                <div style="float: left; margin-left: -80px; margin-top: 58px;" class="normalCaption">Tournaments</div>
                <div style="clear: both;"></div>
            </div>
            <div class="toolbarButton" style="margin-left: 100px; float: right; margin-right: 20px;">
                <img title="Help" alt="" src="/images/help-icon72.png" />
            </div>
            <div style="clear: both;">
            </div>
        </div>
        <input id="login" type="hidden" value="<%=InMaApp.ContextManager.Current.LoginId %>" />
        <input id="authenticated" type="hidden" value="false" />
        <input id="portfolioId" type="hidden" value="1" />
        <div id="errorDiv">
        </div>
        <div id="statusDiv">
        </div>
        <div id="generalDialog"></div>
        <input id="investAuthToken" type="hidden" value="" />
        <input id="authProviderUserId" type="hidden" value="" />
        <input id="authProviderName" type="hidden" value="" />
        <hr />
        <footer>
            <p>&copy; 2017 - Stelinno</p>
        </footer>
    </div>
</body>
</html>
