@section Scripts
{
    <script src="@Url.Content("~/js/iHedge/portfolioHeader.js")"></script>
}
@{ ViewData["Title"] = "Portfolios"; }

<h2>Portfolios</h2>
<div style="margin-left: 46px; margin-top: 12px;">
    <div id="portfolios">
        <div class="newPortfolio">
            <div style="margin-left: 64px; margin-top: 10px; float: left;">
                <img alt="" src="/images/Pie-Chart-icon128.png" />
            </div>
            <div style="margin-top: 60px; margin-left: -50px; float: left;">
                <img class="addIconLarge" alt="" src="/images/Actions-list-add-icon72.png" style="" />
            </div>
            <div style="float: left; margin-top: 24px; margin-left: 6px;">
                <div style="font-size: 10pt; color: #ffffff; font-weight: bold; text-transform:uppercase;"></div>
                <div></div>
                <div style="font-size: 10pt; color: #ffffff; font-weight: bold; text-transform:uppercase; margin-top: 12px; text-decoration: underline;"></div>
                <div></div>
            </div>
            <div style="clear: both;">
            </div>
            <div style="text-align: center; margin-top: 8px; font-size: 10pt; color: #ffffff; font-weight: bold; text-transform:uppercase; text-decoration: underline;">
                Click to add a new portfolio
            </div>
        </div>
    </div>
</div>



<!-- Templates -->
<!-- Portfolio Header Template -->
<div id="portfolioTemplate" style="position: relative;" class="portfolio" data-portfolio-id="" data-portfolio-title="">
    <img style="position: absolute; left: 14px; top: 14px;" alt="portfolioTitle" src="/images/Pie-Chart-icon128.png" />
    <!--<%if(portfolio.portfolioHeader.tournamentId > 0) {%>-->
    <img style="position: absolute; bottom: 28px; left: 14px; width: 64px; height: 64px;" alt="portfolioTitle" src="/images/Trophy-Gold-icon72.png" />
    <div style="position: absolute; top: 24px; left: 150px; font-size: 10pt; color: #ffffff; font-weight: bold; text-transform:uppercase;">Cash</div>
    <div class="portfolioCash" style="position: absolute; top: 34px; left: 150px;">000000</div>
    <div style="position: absolute; left: 150px; top: 66px; font-size: 10pt; color: #ffffff; font-weight: bold; text-transform:uppercase;">Market value</div>
    <div class="portfolioMarketValue" style="position: absolute; left: 150px; top: 76px;">0</div>
    <div class="profitLoss" style="position: absolute; left: 150px; top: 96px; color: blue; font-size: 20pt; font-weight: bold;">0</div>
    <div class="portfolioTitle" style="position: absolute; text-align: center; bottom: 10px; left: 0px; width: 280px;">[Template]</div>
</div>
<!-- End of Portfolio Header Template -->

<!-- New Portfolio Dialog -->
<div id="newPortfolioDialog" style="display: none; width: 280px; position: relative;">
    <img alt="" style="position: absolute; left:0px;top:0px; width: 72px; height: 72px;" src="/images/Pie-Chart-icon72.png" />
    <div class="portfolioTitle" style="position: absolute; left:100px;top:10px; font-weight: bold;">Title</div>
    <div class="portfolioStartCash" style="position: absolute; left:100px;top:23px;">100000</div>
    <div style="position: absolute; left:10px;top:90px;">Title</div>
    <input id="tbPortfolioTitle" type="text" style="position: absolute; left:100px;top:103px; text-align: right;" placeholder="Title" />    
    <div style="position: absolute; left:10px;top:110px;">Start cash</div>
    <input id="tbPortfolioStartCash" type="text" style="position: absolute; left:100px;top:123px; width: 120px; text-align: right;" placeholder="100000" />
    <div class="bottomArea">
        <div class="beforeConfirm">
            <div id="btnCreatePortfolioDone" style="position: absolute; bottom: 4px; left: 10px;">Confirm</div>
            <div id="btnCreatePortfolioCancel" style="position: absolute; bottom: 4px; left: 60px;">Cancel</div>
        </div>
        <div class="afterConfirm">
            <div id="btnOk" style="">
                <div style="position: absolute; bottom: 4px; left: 10px;">Done</div>
                <img style="position: absolute; bottom: 4px; left: 50px; width: 16px; height: 16px;" src="/images/Actions-dialog-ok-apply-icon32.png" alt="" />
            </div>
        </div>
    </div>
</div>
