@section Scripts
    {
    <script src="@Url.Content("~/js/iHedge/assetCategory.js")"></script>
}
@{
    ViewData["Title"] = "assetCategory";
}
<!-- <%String imgSrc = InMaApp.DisplayHelper.GetImgSrc(Model.Title);%> -->
<div class="bodyTopSection" style="position:relative;">
    <img id="assetCategoryImg" style="position: absolute; top: 14px; left: 8px;" alt="unknown" src="~/images/categories/unknown-icon128.png" />
    <div id="assetCategoryTitle" style="position: absolute; left: 8px; font-size: 26pt; text-shadow: 2px 2px #1c1c1c;">Title</div>
    <div id="dzBuySecurity" class="dropZone" style="position: absolute; right: 0px; height: 116px; width: 180px;">
        <div style="position: absolute; left: 0px; top: 4px; font-size: 10pt; font-weight: bold; text-transform: uppercase; text-align: center; width: 180px; font-style: italic;">Drop here to buy</div>
    </div>
</div>
<div style="clear: both;">
</div>
<div style="" class="tableHeader">
    <div style="float: left; margin-left: 44px; width: 220px;">Title</div>
    <div style="float: left; margin-left: 40px; width: 140px;">Symbol</div>
    <div style="float: left; margin-left: 20px; width: 74px; text-align: right;">Quote</div>
    <div style="float: left; margin-left: 20px; width: 74px; text-align: right;">Change</div>
    <div style="float: left; margin-left: 20px; width: 74px; text-align: right;">Change %</div>
</div>
<div style="clear: both;">
</div>
<div id="assets" style="margin-top: 4px;"></div>
    <!-- <%foreach (var asset in Model.Assets)
    {
    String quote = InMaApp.DisplayHelper.FormatDouble(asset.quote);
    String assetTitle = asset.title;
    if (assetTitle != null && assetTitle.Length > 28)
    assetTitle = assetTitle.Substring(0, 25) + "...";

    String changePrefix = "";
    String changeColor = "";

    if (asset.change == 0)
    {
    changePrefix = "";
    changeColor = "#3482B0";
    }
    else if (asset.change > 0)
    {
    changePrefix = "+";
    changeColor = "#4e9b41";
    }
    else
    {
    changePrefix = "";
    changeColor = "#b24031";
    }

    %> -->



<!-- Templates -->
<div id="assetTemplate" class="asset" data-asset-id="" data-asset-symbol="" data-asset-quote="" data-asset-title="" data-asset-img-src="" data-asset-category-title="">
    <div style="float: left; margin-left: 4px; margin-top: 4px;">
        <img class="assetCategoryIcon" title="AssetTitle" alt="" src="~/images/categories/unknown-icon128.png" style="width: 32px; height: 32px;" />
    </div>
    <div class="assetTitle" style="float: left; margin-left: 8px; width: 220px;">N/A</div>
    <div class="assetSymbol" style="float: left; margin-left: 40px; width: 140px;">N/A</div>
    <div class="assetQuote" style="float: left; margin-left: 20px; width: 74px; text-align: right;">N/A</div>
    <div class="assetChange" style="float: left; margin-left: 20px; width: 74px; text-align: right; font-weight: bold; color: red;">N/A</div>
    <div class="assetChangePct" style="float: left; margin-left: 20px; width: 74px; text-align: right; font-weight: bold; color: red;">N/A</div>
    <input id="draggableAssetImgSrc" type="hidden" value="~/images/categories/unknown-icon128.png" />
</div>
<!-- End of Templates -->

<input id="hfPortfolioId" type="hidden" value="@ViewData["PortfolioId"]" />
<input id="hfAssetCategoryTitle" type="hidden" value="@ViewData["AssetCategoryTitle"]" />

