@section Scripts
    {
    <script src="@Url.Content("~/js/iHedge/assetCategory.js")"></script>
}
@{
    ViewData["Title"] = "assetCategory";
}
<h2 id="title">Asset Category</h2>
<!-- <%String imgSrc = InMaApp.DisplayHelper.GetImgSrc(Model.Title);%> -->
<div class="bodyTopSection">
    <div style="float: left;">
        <img id="assetCategoryImg" alt="" src="~/images/categories/unknown-icon128.png" />
    </div>
    <div id="assetCategoryTitle" style="font-size: 26pt; float: left; margin-left: 20px; line-height: 136px; height: 136px; text-shadow: 2px 2px #1c1c1c;">
    </div>
    <div id="dzBuySecurity" class="dropZone" style="height: 116px;">
        <div style="font-size: 10pt; font-weight: bold; text-transform: uppercase;
            margin-top: -6px; text-align: center; float: left; width: 180px; font-style: italic;">Drop here to buy</div>
        <div style="clear: both;"></div>
    </div>
</div>
<div style="clear: both;">
</div>
<div style="" class="tableHeader">
    <div style="float: left; margin-left: 44px; width: 220px;">Title</div>
    <div style="float: left; margin-left: 40px; width: 140px;">Symbol</div>
    <div style="float: left; margin-left: 20px; width: 74px; text-align: right;">Quote</div>
    <div style="float: left; margin-left: 20px; width: 74px; text-align: right;">Change</div>
    <div style="float: left; margin-left: 20px; width: 74px; text-align: right;">Change %</div>
</div>
<div style="clear: both;">
</div>
<div id="assets" style="margin-top: 4px;">
    <!-- <%foreach (var asset in Model.Assets)
    {
    String quote = InMaApp.DisplayHelper.FormatDouble(asset.quote);
    String assetTitle = asset.title;
    if (assetTitle != null && assetTitle.Length > 28)
    assetTitle = assetTitle.Substring(0, 25) + "...";

    String changePrefix = "";
    String changeColor = "";

    if (asset.change == 0)
    {
    changePrefix = "";
    changeColor = "#3482B0";
    }
    else if (asset.change > 0)
    {
    changePrefix = "+";
    changeColor = "#4e9b41";
    }
    else
    {
    changePrefix = "";
    changeColor = "#b24031";
    }

    %> -->
</div>

<!-- Dialogs -->
<!-- <%String imgSrc = InMaApp.DisplayHelper.GetImgSrc(Model.CategoryTitle);%> -->
<div id="buySellDialog" style="display:none;">
    <div style="float: left; width: 100px;">
        <img alt="" style="width: 72px; height: 72px;" src="~/images/categories/unknown-icon128.png" />
    </div>
    <div style="float: left; width: 300px; height: 72px;">
        <div class="assetTitle" style="margin-top: 20px; font-weight: bold;">Title</div>
        <div class="assetSymbol">Symbol</div>
    </div>
    <div style="clear: both;"></div>

    <div style="float: left; width: 100px; height: 30px; line-height: 30px;">Buy/Sell</div>
    <div id="buySellRG" style="height: 30px; float: left;">
        <!--<%if (Model.BuySellCode == "SELL")
        { %>
        <input type="radio" id="btnBuySellDlgBuy" name="buySellRG" /><label style="width: 60px;" for="btnBuySellDlgBuy">Buy</label>
        <input type="radio" id="btnBuySellDlgSell" name="buySellRG" checked="checked" /><label style="width: 60px;" for="btnBuySellDlgSell">Sell</label>
        <%}-->
        <!--else
        { %> -->
        <input type="radio" id="btnBuySellDlgBuy" name="buySellRG" checked="checked" /><label style="width: 60px;" for="btnBuySellDlgBuy">Buy</label>
        <input type="radio" id="btnBuySellDlgSell" name="buySellRG" /><label style="width: 60px;" for="btnBuySellDlgSell">Sell</label>
        <!-- <%} %> -->
    </div>
    <div style="clear: both;"></div>

    <div style="margin-top: 10px;">
        <div style="float: left; width: 100px; height: 30px; line-height: 30px;">Now/ToDo</div>
        <div id="nowToDoRG" style="height: 40px; float: left;">
            <!--<%if (Model.InstantBuySell == false)
            { %>
            <input type="radio" id="btnBuySellDlgNow" name="nowToDoRG" /><label style="width: 60px;" for="btnBuySellDlgNow">Now</label>
            <input type="radio" id="btnBuySellDlgToDo" name="nowToDoRG" checked="checked" /><label style="width: 60px;" for="btnBuySellDlgToDo">ToDo</label>
            <%}
            else
            { %>-->
            <input type="radio" id="btnBuySellDlgNow" name="nowToDoRG" checked="checked" /><label style="width: 60px;" for="btnBuySellDlgNow">Now</label>
            <input type="radio" id="btnBuySellDlgToDo" name="nowToDoRG" /><label style="width: 60px;" for="btnBuySellDlgToDo">ToDo</label>
            <!-- <%} %> -->
        </div>
    </div>
    <div style="clear: both;"></div>

    <div style="float: left; width: 100px; height: 30px; line-height: 30px;">Quantity</div>
    <div style="float: left; width: 100px; height: 30px; line-height: 30px;">
        <input id="tbQuantity" type="text" style="width: 60px; text-align: right;" value="10" />
    </div>
    <div style="clear: both;"></div>
    <div style="float: left; width: 100px; height: 30px; line-height: 30px;">Quote</div>
    <div style="float: left; width: 100px; height: 30px; line-height: 30px;">
        <input type="text" style="width: 60px; text-align: right;" readonly="readonly" value="<%=InMaApp.DisplayHelper.FormatDouble(Model.Quote)%>" />
    </div>
    <div style="clear: both;"></div>

    <div class="bottomArea">
        <div class="beforeConfirm">
            <div id="btnConfirmBuySell" style="margin-top: 12px; float: left; width: 84px; height: 28px;">Confirm</div>
            <div id="btnCancelBuySell" style="margin-top: 12px; float: left; margin-left: 8px; width: 84px; height: 28px;">Cancel</div>

            <div style="clear: both;"></div>
        </div>
        <div class="afterConfirm">
            <div id="btnOk" style="margin-top: 12px; float: left; width: 84px; height: 28px;">
                <div style="float: left; margin-left: 0px;">Done</div>
                <div style="float: left; margin-left: 4px; margin-top: 2px;">
                    <img style="width: 16px; height: 16px;" src="/Content/Images/Actions-dialog-ok-apply-icon32.png" alt="" />
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
    </div>
</div>
<!-- End of Dialogs -->

<!-- Templates -->
<div id="assetTemplate" class="asset" data-asset-id="" data-asset-symbol="" data-asset-quote="" data-asset-title="" data-asset-img-src="" data-asset-category-title="">
    <div style="float: left; margin-left: 4px; margin-top: 4px;">
        <img class="assetCategoryIcon" title="AssetTitle" alt="" src="~/images/categories/unknown-icon128.png" style="width: 32px; height: 32px;" />
    </div>
    <div class="assetTitle" style="float: left; margin-left: 8px; width: 220px;">N/A</div>
    <div class="assetSymbol" style="float: left; margin-left: 40px; width: 140px;">N/A</div>
    <div class="assetQuote" style="float: left; margin-left: 20px; width: 74px; text-align: right;">N/A</div>
    <div class="assetChange" style="float: left; margin-left: 20px; width: 74px; text-align: right; font-weight: bold; color: red;">N/A
        <!-- <%=changePrefix%><%=InMaApp.DisplayHelper.FormatDouble(asset.change, 2)%> -->
    </div>
    <div class="assetChangePct" style="float: left; margin-left: 20px; width: 74px; text-align: right; font-weight: bold; color: red;">N/A
        <!-- <%=changePrefix%><%=InMaApp.DisplayHelper.FormatDouble((asset.change * 100) / asset.quote, 2)%>% -->
    </div>
    <input id="draggableAssetImgSrc" type="hidden" value="~/images/categories/unknown-icon128.png" />
</div>
<!-- End of Templates -->

<input id="hfPortfolioId" type="hidden" value="@ViewData["PortfolioId"]" />
<input id="hfAssetCategoryTitle" type="hidden" value="@ViewData["AssetCategoryTitle"]" />

