@section Scripts
    {
    <script src="@Url.Content("~/js/iHedge/portfolioDetails.js")"></script>
}
@{
    ViewData["Title"] = "Portfolio Details";
}
<!-- <% var marketValue = Model.Portfolio.securitiesSummed.Sum(s => s.quote * s.position);
var profitLoss = marketValue - Model.Portfolio.securitiesSummed.Sum(s => s.purchaseAmount);
var profitLossChange = (profitLoss*100)/marketValue;
if(marketValue == 0)
profitLossChange = 0;

String changePrefix = "";
String changeColor = "";

if (profitLoss == 0)
{
changePrefix = "";
changeColor = "#3482B0";
}
else if (profitLoss > 0)
{
changePrefix = "+";
changeColor = "#4e9b41";
}
else
{
changePrefix = "";
changeColor = "#b24031";
}
%>-->

<div class="bodyTopSection">
    <input id="portfolioId" type="hidden" value="@ViewData["PortfolioId"]" />
    <img alt="Portfolio" src="/images/Pie-Chart-icon128.png" style="position: absolute;" />
    <!--<div>TEST0</div>
    <div style="margin-left: 12px; height: 136px;">
        <div id="portfolioTitle" style="font-size: 24pt; line-height: 36px; margin-top: 6px; text-shadow: 2px 2px #1c1c1c;" placeholder="Portfolio title">Title</div>
        <div style="">
            <div class="normalCaption" style="line-height: 14px; margin-top: 10px;">Profit/Loss</div>
            <div id="profitLoss" style="font-size: 12pt; line-height: 14px; color:red">-1000</div>
            <div class="normalCaption" style="line-height: 14px; margin-top: 8px;">Market value</div>
            <div id="marketValue" style="font-size: 12pt; line-height: 14px;">50000</div>
        </div>
        <div style="height: 84px; line-height: 84px;">
            <div style="color: red; font-size: 38pt; font-weight: bold;" placeholder="-5"></div>
        </div>
    </div>
    <div>TEST1</div>
    <div id="dzSellSecurity" class="dropZone" style="height: 116px;">
        <div style="font-size: 10pt; font-weight: bold; text-transform: uppercase; text-align: center; width: 180px; font-style: italic;">
            Drop here to sell
        </div>
    </div>
    <div>TEST2</div>
    <div id="dzBuySecurity" class="dropZone" style="height: 116px;">
        <div style="font-size: 10pt; font-weight: bold; text-transform: uppercase; text-align: center; width: 180px; font-style: italic;">
            Drop here to buy
        </div>
    </div>-->
</div>
<div style="border: solid 1px; position:relative;" class="tableHeader">
    <div style="position: absolute; left: 44px;">Title</div>
    <div style="position: absolute; left: 220px;">Symbol</div>
    <div style="position: absolute; left: 420px;text-align: right;">Qnt.</div>
    <div style="position: absolute; left: 520px;text-align: right;">Quote</div>
    <div style="position: absolute; left: 620px;text-align: right;">Purch. Amount</div>
    <div style="position: absolute; left: 720px;text-align: right;">Market Val.</div>
    <div style="position: absolute; left: 820px;text-align: right;">Profit/Loss</div>
</div>
    <!--<%if(Model.Portfolio.securitiesSummed == null || Model.Portfolio.securitiesSummed.Length == 0) { %>-->
<div id="portfolioItems"></div>
<div>TEST5</div>
<div title="Clicking here will take you to the stock market" class="portfolioItemEmptyList emptyList" style="position: relative; height: 80px; line-height: 80px;">
    <img alt="" style="position: absolute; width: 60px;" src="/images/stock-market-icon72.png" />
    <div style="position: absolute;">Add stocks to your portfolio by visiting the <span style="text-decoration: underline; font-weight: bold;">stock market!</span></div>
</div>
    <!--<%} %>-->


<!-- Templates -->
<!--<%foreach (var security in Model.Portfolio.securitiesSummed)
    {%>
        <%String imgSrc = InMaApp.DisplayHelper.GetImgSrc(security.categoryTitle);%>-->

<div id="portfolioItemTemplate" class="portfolioItem portfolioItemSummaryItem" style="position: relative; height: 50px; font-weight: bold;" data-asset-symbol="" data-asset-quote="" data-asset-title="" data-asset-quantity="" data-asset-img-src="/images/categories/default.png" data-asset-category-title="">
    <!--<img class="assetCategoryIcon" title="categoryTitle" alt="" src="/images/categories/default.png" style="position:absolute; width: 32px; height: 32px;" />    -->
    <div class="title" style="position:absolute; left: 44px;"></div>
    <div class="symbol" style="position:absolute; left: 220px;"></div>
    <div class="position" style="position:absolute; left: 420px;text-align: right;"></div>
    <div class="purchaseQuote" style="position:absolute; left: 520px;text-align: right;"></div>
    <div class="purchaseAmount" style="position:absolute; left: 620px; text-align: right;"></div>
    <div class="marketValue" style="position:absolute; left: 720px; text-align: right;"></div>
    <div class="change" style="position:absolute; left: 820px; text-align: right;"></div>
</div>


<!-- Sub List -->
<!--<%Html.RenderPartial("PortfolioSecuritySubListControl", new InMaApp.Models.PortfolioSubListModel { Portfolio = Model.Portfolio, AssetID = security.id, Symbol = security.symbol });  %>-->
<!--<%foreach (var security in Model.Portfolio.securities.Where(s => s.symbol == Model.Symbol))
{%>
<%String imgSrc = InMaApp.DisplayHelper.GetImgSrc(security.categoryTitle);%>-->
<div id="portfolioItemSubListTemplate" class="portfolioItem subListItem" data-asset-symbol="" data-asset-quote="" data-asset-title="" data-asset-quantity="" data-asset-img-src="/images/categories/default.png" data-asset-category-title="">
    <div style="margin-left: 4px; margin-top: 4px;">
        <div style="width: 32px;">&nbsp;</div>
    </div>
    <div style="margin-left: 8px; width: 170px;"><!-- <%=InMaApp.DisplayHelper.ShortenText(security.title, 20)%>--></div>
    <div style="margin-left: 20px; width: 80px;"><!-- <%=security.symbol%> --></div>
    <div style="margin-left: 20px; width: 44px; text-align: right;"><!-- <%=security.position%>--></div>
    <div style="margin-left: 20px; width: 104px; text-align: right;">
        <!-- <%=InMaApp.DisplayHelper.FormatDouble(security.quote)%> (<%=InMaApp.DisplayHelper.FormatDouble(Math.Round(security.quote-security.purchaceQuote,2))%>) -->
    </div>
    <div style="margin-left: 20px; width: 110px; text-align: right;">
        <!-- <%=InMaApp.DisplayHelper.FormatMoney(security.purchaseAmount)%> -->
    </div>
    <div style="margin-left: 20px; width: 110px; text-align: right;">
        <!-- <%=InMaApp.DisplayHelper.FormatMoney(security.position * security.quote)%> -->
    </div>
    <div style="margin-left: 20px; width: 110px; text-align: right;">
        <!-- <%=InMaApp.DisplayHelper.FormatMoney((security.position * security.quote)-security.purchaseAmount)%> -->
    </div>
</div>
<!--<%} %>-->
<!-- End of Sub List -->
<!--<%} %>-->

<!-- End of Templates -->

