@model WebAppCore.Models.Account.AuthModel
@section Scripts
{
    <script src="@Url.Content("~/js/iHedge/Portfolio.js")"></script>
}
@{ ViewData["Title"] = "Portfolios"; }

<h2>Portfolios</h2>
<div style="margin-left: 46px; margin-top: 12px;">
    <!--
    <%foreach (var portfolio in Model.Portfolios)
    {
    var marketValue = portfolio.securitiesSummed.Sum(s => s.quote * s.position);
    var profitLoss = marketValue - portfolio.securitiesSummed.Sum(s => s.purchaseAmount);
    var profitLossChange = (profitLoss * 100) / marketValue;
    if (marketValue == 0)
    profitLossChange = 0;

    String changePrefix = "";
    String changeColor = "";

    if (profitLoss == 0)
    {
    changePrefix = "";
    changeColor = "#3482B0";
    }
    else if (profitLoss > 0)
    {
    changePrefix = "+";
    changeColor = "#4e9b41";
    }
    else
    {
    changePrefix = "";
    changeColor = "#b24031";
    }
    %>
    -->
    
    <div id="portfolios">
        <div class="newPortfolio">
            <div style="margin-left: 64px; margin-top: 10px; float: left;">
                <img alt="" src="/images/Pie-Chart-icon128.png" />
            </div>
            <div style="margin-top: 60px; margin-left: -50px; float: left;">
                <img class="addIconLarge" alt="" src="/images/Actions-list-add-icon72.png" style="" />
            </div>
            <div style="float: left; margin-top: 24px; margin-left: 6px;">
                <div style="font-size: 10pt; color: #ffffff; font-weight: bold; text-transform:uppercase;"></div>
                <div></div>
                <div style="font-size: 10pt; color: #ffffff; font-weight: bold; text-transform:uppercase; margin-top: 12px; text-decoration: underline;"></div>
                <div></div>
            </div>
            <div style="clear: both;">
            </div>
            <div style="text-align: center; margin-top: 8px; font-size: 10pt; color: #ffffff; font-weight: bold; text-transform:uppercase; text-decoration: underline;">
                Click to add a new portfolio
            </div>
        </div>
    </div>
    
    <!-- Templates -->
    <!-- Portfolio Header Template -->
    <div id="portfolioTemplate" class="portfolio" data-portfolio-id="" data-portfolio-title="">
        <div style="margin-left: 8px; margin-top: 10px; float: left;">
            <img alt="portfolioTitle" src="/Content/images/Pie-Chart-icon128.png" />
        </div>
        <!--<%if(portfolio.portfolioHeader.tournamentId > 0) {%>-->
        <div style="margin-left: -44px; margin-top: 80px; margin-right: -24px; float: left;">
            <img style="width: 64px; height: 64px;" alt="portfolioTitle" src="/images/Trophy-Gold-icon72.png" />
        </div>
        <!--<%} %>-->
        <div style="float: left; margin-top: 24px; margin-left: 6px;">
            <div style="font-size: 10pt; color: #ffffff; font-weight: bold; text-transform:uppercase;">Cash</div>
            <div class="portfolioCash" style="margin-top: -6px;">100000</div>
            <div style="font-size: 10pt; color: #ffffff; font-weight: bold; text-transform:uppercase; margin-top: 12px;">Market value</div>
            <div class="portfolioMarketValue" style="margin-top: -6px;">10000000</div>
            <div class="profitLossChange" style="color: blue; font-size: 20pt; font-weight: bold;">500</div>
        </div>
        <div style="clear: both;">
        </div>
        <div class="portfolioTitle" style="text-align: center; margin-top: 8px;"></div>
    </div>
    <!-- End of Portfolio Header Template -->

</div>
<div style="clear: both;">
</div>
